$theme-colors: (
  'primary': #4079fe,
  'secondary': #f6f8fa,
  'success': #1ce1ac,
  'info': #ff7d50,
  'warning': #ffbe0b,
  'danger': #ff007f,
  'light': #ffffff,
  'dark': #001738,
);
body {
  font-family: 'Inter', sans-serif !important;
}
.v100 {
  height: calc(100vh - 40px);
}

.filler {
  height: 70%;
  border-radius: 0 0 var(--bs-border-radius-xl) var(--bs-border-radius-xl) !important;
}
@import '/node_modules/bootstrap/scss/bootstrap.scss';
